In [1]:
import pandas as pd

## Criar DataFrames com base nos Datasets

In [2]:
# Carregar DataFrame de clientes (customers)

df_customers = pd.read_csv('./datasets/churn_customers.csv')

In [4]:
# Mostrar 5 primeiros registros do DataFrame
df_customers.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No